* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
   
    --blanco1: #ffffff;
    --blanco: #baf5c9;              
    --texto-oscuro: #1a1a1a;
    --verde-principal: #2ecc71;     
    --verde-oscuro: #1b5e20;
    --gris-claro: #f8f9fa;
    
    --fuente: 'Courier New', Courier, monospace; 
    
    --accent-green: #2ecc71; 
    --text-light: #1a1a1a;
    --text-muted: #666666;
}

body {
    font-family: var(--fuente);
    color: var(--texto-oscuro);
    background-color: var(--blanco);
    overflow-x: hidden; 
}


.main-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 5%;
    background-color: rgba(255, 255, 255, 0.5); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}

.nav-menu {
    display: flex;
    gap: 30px; 
}

.nav-link {
    text-decoration: none; 
    color: var(--texto-oscuro);
    font-weight: 500; 
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: var(--verde-principal); 
}

.header-icons {
    display: flex;
    gap: 20px;
    cursor: pointer; 
}